@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;

  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* .app {
  display: flex;
  position: relative;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
