/* styles.css */
.menu-item {
  color: #ffffff; /* Цвет текста по умолчанию */
  background-color: transparent; /* Фон по умолчанию */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.menu-item:hover {
  background-color: #ff5722; /* Цвет фона при наведении */
  color: #000000; /* Цвет текста при наведении */
}

.menu-item.active {
  background-color: #4caf50; /* Цвет фона для активного элемента */
  color: #ffffff; /* Цвет текста для активного элемента */
}